body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body,html{
  font-family: 'Archivo'!important;
   /* font-size: 22px!important; */
}


.p-component{
  font-family:  "Archivo"!important;
  font-size: 14px!important;
}


